// convert list of columns to map
@function _columns-list-to-map($list, $grid: $default-grid) {
    $media-map: ();
    $breakpoints: get-grid-value(breakpoints, $grid);

    @for $i from 1 through length($list) {
        $bp-cols: nth($list, $i);
        $bp-key: nth(nth($breakpoints, $i * -1), 1);

        @if ($bp-cols != null) {
            $media-map: map-merge($media-map, ($bp-key: $bp-cols));
        }
    }

    @return $media-map;
}