@function _column-offset($columns, $grid: $default-grid, $add-half-gutter: true) {
    $grid-half-gutter: 0;
    @if ($add-half-gutter) {
        $grid-half-gutter: get-grid-value(gutter, $grid) / 2;
    }
    $grid-columns: get-grid-value(columns, $grid);

    $offset: 0;
    @if $grid-half-gutter == 0 {
        $offset: 100% / $grid-columns * $columns;
    } @else if unit($grid-half-gutter) == '%' {
        $offset: (100% / $grid-columns * $columns) + $grid-half-gutter;
    } @else {
        $offset: calc(#{100% / $grid-columns * $columns} + #{$grid-half-gutter});
    }

    @return $offset;
}
