@function _max-breakpoint($breakpoints) {
    $first-breakpoint: nth($breakpoints, 1);
    $max-sizeName: nth($first-breakpoint, 1);
    $max-width: nth(nth($first-breakpoint, 2), 2);

    @each $sizeName, $widths in $breakpoints {
        @if ($max-width != null) {
            $bp-max-width: nth($widths, 2);
            @if (($bp-max-width == null) or ($bp-max-width > $max-width)) {
                $max-sizeName: $sizeName;
                $max-width: $bp-max-width;
            }
        }
    }
    
    @return ($max-sizeName: map-get($breakpoints, $max-sizeName));
}
