.card {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #43cd9b;
    border-radius: 3px;
    text-align: center;
    padding: 10px;
    color: #fff;
    font-weight: bold;
}

@for $i from 1 through 12 {
    .grid-column-#{$i} {
        @include grid-column((xs: 12, sm: $i));
    }
}


// media demo
.grid-column-media-1 {
    @include grid-column(1 2 3 4 6 12);
}

// test col
.test-col-1,
.test-col-2,
.test-col-3 {
    @include grid-column((md: 2, sm: 12));
}

.test-col-4 {
    @include grid-column((md: 2, sm: 12), right, center);
}

// test push
.test-push-1,
.test-push-2,
.test-push-3 {
    @include grid-column((md: 2, sm: 12));
}

.test-push-2 {
    @include media-breakpoint-from(md) {
        @include grid-push(4);
    }
}
