%grid-column {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #43cd9b;
    border-radius: 3px;
    text-align: center;
    padding: 10px;
    color: #fff;
    font-weight: bold;

}

@for $i from 1 through 12 {
    .grid-column-#{$i} {
        @extend %grid-column;
        @include grid-column((md: $i, sm: 12));
    }
}


// media demo
.grid-column-media-1 {
    @extend %grid-column;
    @include grid-column(1 2 3 4 6 12);
}
