- var cols = 12;
.outer-container
    
    header.header Brigrid Demo
    .grid-container
        - var i = 1; 
        while (i < cols)
            div(class="grid-column-" + i)=  i
            div(class="grid-column-" + (cols - i))= (cols - i)
            - i++;
    .grid-container
        - var i = 1; 
        while (i <= cols)
            .grid-column-media-1
            - i++;
    .grid-container
        .test-col-1 
        .test-col-2
        .test-col-3
        .test-col-4
    .grid-container
        .test-push-1
        .test-push-2
        .test-push-3
            
        
