- var cols = 12;
.outer-container
    h1.header
        | Brigrid
        span.accent Demo
    .grid-container
        - var i = 1; 
        while (i < cols)
            div(class="grid-column-" + i)
                .card= i
            div(class="grid-column-" + (cols - i))
                .card= (cols - i)
            - i++;
        div(class="grid-column-" + cols)
            .card= cols
    .grid-container
        div(class="grid-column-" + cols)
            h2.grid-container__title Test media queries
        - var i = 1; 
        while (i <= cols)
            .grid-column-media
                .card
            - i++;
    .grid-container
        div(class="grid-column-" + cols)
            h2.grid-container__title Left-side column alignment
        .grid-column-1
            .card
        .grid-column-1
            .card 
        .grid-column-2.grid-column--left
            .card LEFT
        .grid-column-1
            .card
        .grid-column-1
            .card
        .grid-column-1
            .card  
    .grid-container
        div(class="grid-column-" + cols)
            h2.grid-container__title Central column alignment
        .grid-column-1
            .card
        .grid-column-1
            .card 
        .grid-column-2.grid-column--center
            .card CENTER
        .grid-column-1
            .card
        .grid-column-1
            .card
        .grid-column-1
            .card   
    .grid-container
        div(class="grid-column-" + cols)
            h2.grid-container__title Right-side column alignment
        .grid-column-1
            .card
        .grid-column-1
            .card 
        .grid-column-2.grid-column--right
            .card RIGHT
        .grid-column-1
            .card
        .grid-column-1
            .card
        .grid-column-1
            .card
    .grid-container
        div(class="grid-column-" + cols)
            h2.grid-container__title Column with grid-push(4)
        .grid-column-1
            .card
        .grid-column-1
            .card 
        .grid-column-2.grid-push-4
            .card PUSH(4)
        .grid-column-1
            .card
        .grid-column-1
            .card
        .grid-column-1
            .card
    .grid-container
        div(class="grid-column-" + cols)
            h2.grid-container__title Column with grid-shift(4)
        .grid-column-1
            .card
        .grid-column-1
            .card 
        .grid-column-2.grid-shift-4
            .card SHIFT(4)
        .grid-column-1
            .card
        .grid-column-1
            .card
        .grid-column-1
            .card
            
        
