- var cols = 12;
.outer-container
    
    header.header Brigrid Demo
    .grid-container
        - var i = 1; 
        while (i < cols)
            div(class="grid-column-" + i)=  i
            div(class="grid-column-" + (cols - i))= (cols - i)
            - i++;
    .grid-container
        - var i = 1; 
        while (i <= cols)
            .grid-column-media-1
            - i++;
        
            
        
