- var cols = 12;
.wrapper
    h1.header
        | Brigrid 
        span.accent Demo
    section.demo-section
        .container
            div(class="column column-" + cols)
                h3.container__title Grid columns
            - var i = 1;
            while (i < cols)
                div(class="column column-" + i)
                    .card= i
                div(class="column column-" + (cols - i))
                    .card= (cols - i)
                - i++;
            div(class="column column-" + cols)
                .card= cols
        .container
            div(class="column column-" + cols)
                h3.container__title Dynamic grid columns (xs:12, sm:6, md:4, lg:3, xl:2, xx:1)
            - var i = 1; 
            while (i <= cols)
                .column-media
                    .card
                - i++;
    section.demo-section
        h2.demo-section__title Horizontal self alignment
        .container
            div(class="column column-" + cols)
                h3.container__title Left-side horizontal self alignment
            .column.column-1
                .card
            .column.column-1
                .card 
            .column.column-1
                .card 
            .column.column-2.column--h-left
                .card.card--accent LEFT
            .column.column-1
                .card
            .column.column-1
                .card
            .column.column-1
                .card  
        .container
            div(class="column column-" + cols)
                h2.container__title Central horizontal self alignment
            .column.column-1
                .card
            .column.column-1
                .card 
            .column.column-1
                .card 
            .column.column-2.column--h-center
                .card.card--accent CENTER
            .column.column-1
                .card
            .column.column-1
                .card
            .column.column-1
                .card   
        .container
            div(class="column column-" + cols)
                h2.container__title Right-side horizontal self alignment
            .column.column-1
                .card
            .column.column-1
                .card 
            .column.column-1
                .card 
            .column.column-2.column--h-right
                .card.card--accent RIGHT
            .column.column-1
                .card
            .column.column-1
                .card
            .column.column-1
                .card
        .container
            div(class="column column-" + cols)
                h3.container__title
                    | Dynamic horizontal self alignment 
                    span.accent (md:left, lg:center, xl:right)
                    div.additional (resize the window to see the changes)
            .column.column-1
                .card
            .column.column-1
                .card 
            .column.column-1
                .card 
            .column.column-2.column--h-dynamic
                .card.card--accent DYNAMIC
            .column.column-1
                .card
            .column.column-1
                .card
            .column.column-1
                .card  
    section.demo-section
        h2.demo-section__title Vertical self alignment
        .container
            div(class="column column-" + cols)
                h2.container__title Top vertical self alignment
            .column.column-2
                .card.card--large 
            .column.column-2
                .card.card--large 
            .column.column-4.column--v-top
                .card.card--accent.card--small TOP
            .column.column-2
                .card.card--large 
            .column.column-2
                .card.card--large 
        .container
            div(class="column column-" + cols)
                h2.container__title Central vertical self alignment
            .column.column-2
                .card.card--large 
            .column.column-2
                .card.card--large 
            .column.column-4.column--v-center
                .card.card--accent.card--small CENTER
            .column.column-2
                .card.card--large 
            .column.column-2
                .card.card--large 
        .container
            div(class="column column-" + cols)
                h2.container__title Bottom vertical self alignment
            .column.column-2
                .card.card--large 
            .column.column-2
                .card.card--large 
            .column.column-4.column--v-bottom
                .card.card--accent.card--small BOTTOM
            .column.column-2
                .card.card--large 
            .column.column-2
                .card.card--large 
        .container
            div(class="column column-" + cols)
                h3.container__title
                    | Dynamic vertical self alignment 
                    span.accent (md:top, lg:center, xl:bottom)
                    div.additional (resize the window to see the changes)
            .column.column-2
                .card.card--large 
            .column.column-2
                .card.card--large 
            .column.column-4.column--v-dynamic
                .card.card--accent.card--small DYNAMIC
            .column.column-2
                .card.card--large 
            .column.column-2
                .card.card--large 
    section.demo-section
        h2.demo-section__title Horizontal container columns alignment
        .container.container--h-left
            div(class="column column-" + cols)
                h3.container__title Left-side horizontal alignment
            .column.column-1
                .card
            .column.column-1
                .card 
            .column.column-1
                .card 
            .column.column-1
                .card
            .column.column-1
                .card
            .column.column-1
                .card
            .column.column-1
                .card
        .container.container--h-center
            div(class="column column-" + cols)
                h2.container__title Central horizontal alignment
            .column.column-1
                .card
            .column.column-1
                .card 
            .column.column-1
                .card 
            .column.column-1
                .card
            .column.column-1
                .card
            .column.column-1
                .card
            .column.column-1
                .card
        .container.container--h-right
            div(class="column column-" + cols)
                h2.container__title Right-side horizontal alignment
            .column.column-1
                .card
            .column.column-1
                .card 
            .column.column-1
                .card 
            .column.column-1
                .card
            .column.column-1
                .card
            .column.column-1
                .card
            .column.column-1
                .card
        .container.container--h-dynamic
            div(class="column column-" + cols)
                h2.container__title
                    | Dynamic horizontal alignment 
                    span.accent (md:left, lg:center, xl:right)
                    div.additional (resize the window to see the changes)
            .column.column-1
                .card
            .column.column-1
                .card 
            .column.column-1
                .card 
            .column.column-1
                .card
            .column.column-1
                .card
            .column.column-1
                .card
            .column.column-1
                .card
    section.demo-section
        h2.demo-section__title Vertical container columns alignment
        .container.container--v-left
            div(class="column column-" + cols)
                h2.container__title Top vertical alignment
            .column.column-3
                .card.card--large 
            .column.column-3
                .card
            .column.column-3
                .card.card--small
            .column.column-3
                .card.card--large
        .container.container--v-center
            div(class="column column-" + cols)
                h2.container__title Central vertical alignment
            .column.column-3
                .card.card--large 
            .column.column-3
                .card
            .column.column-3
                .card.card--small
            .column.column-3
                .card.card--large
        .container.container--v-bottom
            div(class="column column-" + cols)
                h2.container__title Bottom vertical alignment
            .column.column-3
                .card.card--large 
            .column.column-3
                .card
            .column.column-3
                .card.card--small
            .column.column-3
                .card.card--large
        .container.container--v-dynamic
            div(class="column column-" + cols)
                h2.container__title
                    | Dynamic vertical alignment 
                    span.accent (md:top, lg:center, xl:bottom)
                    div.additional (resize the window to see the changes)
            .column.column-3
                .card.card--large 
            .column.column-3
                .card
            .column.column-3
                .card.card--small
            .column.column-3
                .card.card--large
    section.demo-section
        h2.demo-section__title Grid column order
        .container
            .column.column-1
                .card
            .column.column-1
                .card
            .column.column-1
                .card
            .column.column-1
                .card
            .column.column-1
                .card
            .column.column-1
                .card
            .column.column-2.column--order--1
                .card.card--accent -1
            .column.column-2.column--order-0
                .card.card--accent 0
            .column.column-2.column--order-1
                .card.card--accent 1
        .container
            .column.column-1
                .card
            .column.column-1
                .card
            .column.column-1
                .card
            .column.column-1
                .card
            .column.column-1
                .card
            .column.column-1
                .card
            .column.column-1
                .card
            .column.column-1
                .card
            .column.column-2.column--order-dynamic
                .card.card--accent DYNAMIC
            .column.column-1
                .card
            .column.column-1
                .card
    section.demo-section
        h2.demo-section__title Grid push
        .container
            div(class="column column-" + cols)
                h2.container__title Column with push(4)
            .column.column-1
                .card
            .column.column-1
                .card 
            .column.column-1
                .card 
            .column.column-2.push-4
                .card.card--accent PUSH(4)
            .column.column-1
                .card
            .column.column-1
                .card
            .column.column-1
                .card
        .container
            div(class="column column-" + cols)
                h2.container__title
                    | Dynamic push 
                    span.accent (md: 2, lg: 3, xl: 4)
                    div.additional (resize the window to see the changes)
            .column.column-1
                .card
            .column.column-1
                .card 
            .column.column-1
                .card 
            .column.column-2.push-dynamic
                .card.card--accent DYNAMIC
            .column.column-1
                .card
            .column.column-1
                .card
            .column.column-1
                .card
    section.demo-section
        h2.demo-section__title Grid shift
        .container
            div(class="column column-" + cols)
                h2.container__title Column with grid-shift(4)
            .column.column-1
                .card
            .column.column-1
                .card 
            .column.column-1
                .card 
            .column.column-2.grid-shift-4
                .card.card--accent SHIFT(4)
            .column.column-1
                .card
            .column.column-1
                .card
            .column.column-1
                .card
        .container
            div(class="column column-" + cols)
                h2.container__title
                    | Dynamic grid-shift 
                    span.accent (md: 2, lg: 3, xl: 4)
                    div.additional (resize the window to see the changes)
            .column.column-1
                .card
            .column.column-1
                .card 
            .column.column-1
                .card 
            .column.column-2.grid-shift-dynamic
                .card.card--accent DYNAMIC
            .column.column-1
                .card
            .column.column-1
                .card
            .column.column-1
                .card            
        
