* {
    font-family: "Lato",
                 "Open Sans",
                 "Segoe UI",
                 sans-serif;
}

html,
body {
    overflow-x: hidden;
    background-color: #fff;
}

.header {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #43cd9b;
    padding: 2rem 1rem;
}
