* {
    font-family: "Source Sans Pro",
                 "Lato",
                 "Open Sans",
                 "Segoe UI",
                 sans-serif;
}

html,
body {
    overflow-x: hidden;
    background-color: #fff;
    color: $color-primary;
}
