- var cols = 12;
.outer-container
    .grid-container
        - var i = 1;
        while (i < cols)
            div(class="grid-column-" + i)=  i
            div(class="grid-column-" + (cols - i))= (cols - i)
            - i++;
            
        
