@mixin grid-collapse($grid: $default-grid) {
    $grid-gutter: get-grid-value(gutter, $grid);
    @if (unit($grid-gutter) == '%') {
        @warn "grid-collapse is not supported in percentage gutters based grids";
    } @else {
        margin-left: ($grid-gutter / -2);
        margin-right: ($grid-gutter / -2);
    }
}
