@charset "UTF-8";

/// Creates column alignment (Supports only flex driver)
///
/// @name Grid column alignment
///
/// @group components
///
/// @argument {string | map} $align-x [null]
///     Specifies the horizontal alignment of the column
///     It can be indicated by:
///     1) a string (null | left | center | right)
///     2) or a media map where each of its keys points to a breakpoint,
///     and the value specifies the horizontal self-alignment of the column
///         (Example: (md: left, lg: center, xl: right))
///
/// @argument {string | map} $align-y [null]
///     Specifies the vertical alignment of the column
///     It can be indicated by:
///     1) a string (null | flex-start | flex-end | top | bottom | center | baseline | stretch | auto)
///     2) or a media map where each of its keys points to a breakpoint,
///     and the value specifies the vertical self-alignment of the column
///         (Example: (md: top, lg: center, xl: bottom))
///
/// @argument {map} $grid [$default-grid]
///     The grid map settings (driver, breakpoints) will be used to create a column alignment.
///     By default, the global '$default-grid' will be used.
///
/// @example scss
///     $example-grid: (
///         driver: flex,
///         breakpoints: (
///             xs: 0,
///             sm: 576px,
///             md: 768px,
///             lg: 992px,
///             xl: 1200px,
///             xx: 1600px
///         )
///     );
///     .element {
///         @include grid-column-align(
///             $align-x: (
///                 md: left,
///                 lg: center,
///                 xl: right
///             ),
///             $align-y: (
///                 md: top,
///                 lg: center,
///                 xl: bottom
///             ),
///             $grid: $example-grid
///         );
///     }
///
/// @example css
///     .element {
///         margin-left: auto;
///         margin-right: 0;
///         align-self: flex-end;
///     }
///     @media screen and (max-width: 991px) {
///         .element {
///             margin-right: auto;
///             margin-left: 0;
///             align-self: flex-start;
///         }
///     }
///     @media screen and (min-width: 992px) and (max-width: 1199px) {
///         .element {
///             margin-left: auto;
///             margin-right: auto;
///             align-self: center;
///         }
///     }

@mixin grid-column-align($align-x: null, $align-y: null, $grid: $default-grid) {
    $driver: get-grid-value(driver, $grid);
    @if ($driver == flex) {
        // X-axis alignment
        @if ($align-x != null) {
            $align-x: _convert-to-media-map($align-x, $grid);
            @include _for-media-map($align-x, $grid) {
                $bp-align-x: $_for-media-map-value;
                @if ($bp-align-x == left) {
                    margin-right: auto;
                    margin-left: 0;
                } @else if ($bp-align-x == right) {
                    margin-left: auto;
                    margin-right: 0;
                } @else if ($bp-align-x == center) {
                    margin-left: auto;
                    margin-right: auto;
                } @else {
                    @error "Unknown $align-x value: '#{$bp-align-x}'";
                }
            }
        }

        // Y-axis alignment
        @if ($align-y != null) {
            $align-y: _convert-to-media-map($align-y, $grid);
            @include _for-media-map($align-y, $grid) {
                $bp-align-y: $_for-media-map-value;
                $allowed-align-y-values: (flex-start, flex-end, center, baseline, stretch, auto);
                @if ($bp-align-y == top) {
                    align-self: flex-start;
                } @else if ($bp-align-y == bottom) {
                    align-self: flex-end;
                } @else if (index($allowed-align-y-values, $bp-align-y) != null) {
                    align-self: $bp-align-y;
                } @else {
                    @error "Unknown $align-y value: '#{$bp-align-y}'";
                }
            }
        }
    }
}
