@charset "UTF-8";

%_outer-container {
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    transition: max-width .12s ease;
    max-width: 100%;
}

@mixin outer-container($grid: $default-grid, $breakpoints: null, $container-widths: null) {
    @extend %_outer-container;

    @if ($breakpoints == null) {
        $grid: _sort-breakpoints-in-grid($grid, min);
        $breakpoints: get-grid-value(breakpoints, $grid);
    }

    @if ($container-widths == null) {
        $container-widths: get-grid-value(container-widths, $grid);
    }

    @each $name, $value in $breakpoints {
        @include media-breakpoint-from($name, $grid) {
            max-width: map-get($container-widths, $name);
        }
    }
}
