.card {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: $color-primary;
    border-radius: 3px;
    text-align: center;
    padding: 1rem;
    height: 50px;
    color: #fff;
    font-weight: bold;
    &--small {
        padding-top: .25rem;
        padding-bottom: .25rem;
        height: 30px;
    }
    &--large {
        padding-top: 2rem;
        padding-bottom: 2rem;
        height: 82px;
    }
    &--accent {
        background-color: $color-accent;
    }
}
