.card {
    background-color: $color-primary;
    border-radius: 3px;
    text-align: center;
    padding: 1rem;
    min-height: 52px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #fff;
    font-weight: bold;
    position: relative;

    &--fill {
        position: relative;
        height: 100%;
    }
    
    &--small {
        padding-top: .25rem !important;
        padding-bottom: .25rem !important;
        min-height: 25px;
    }

    &--large {
        padding-top: 2rem;
        padding-bottom: 2rem;
        min-height: 75px;
    }

    &--accent {
        background: linear-gradient(-70deg, $color-accent, $color-accent--light);
    }
}
