.grid-column {
    // columns
    @for $i from 1 through 12 {
        &-#{$i} {
            @include grid-column((xs: 12, sm: $i));
        }
    }

    // alignment
    $x-alignments: (left center right);
    @each $alignment in $x-alignments {
        &--h-#{$alignment} {
            @include grid-column-align($align-x: $alignment);
        }
    }
    &--h-dynamic {
        @include grid-column-align(
            $align-x: (
                md: left,
                lg: center,
                xl: right
            )
        )
    }

    $y-alignments: (top center bottom);
    @each $alignment in $y-alignments {
        &--v-#{$alignment} {
            @include grid-column-align($align-y: $alignment);
        }
    }
    &--v-dynamic {
        @include grid-column-align(
            $align-y: (
                md: top,
                lg: center,
                xl: bottom
            )
        )
    }

    // media
    &-media {
        @include grid-column(1 2 3 4 6 12);
    }

    // order
    @for $i from -6 through 6 {
        &--order-#{$i} {
            @include grid-column-order($i);
        }
    }
    &--order-dynamic {
        @include grid-column-order((
            md: -1,
            lg: 0,
            xl: 1)
        );
    }
}
