.grid-container {
    @include grid-container;
    margin-top: 1rem;
    margin-bottom: 1rem;
    &__title {
        font-size: 2rem;
        font-weight: 100;
        margin: 1em 0;
    }

    // alignment
    $x-alignments: (left center right);
    @each $alignment in $x-alignments {
        &--h-#{$alignment} {
            @include grid-container-align($align-x: $alignment);
        }
    }
    &--h-dynamic {
        @include grid-container-align(
            $align-x: (
                md: left,
                lg: center,
                xl: right
            )
        )
    }

    $y-alignments: (top center bottom);
    @each $alignment in $y-alignments {
        &--v-#{$alignment} {
            @include grid-container-align($align-y: $alignment);
        }
    }
    &--v-dynamic {
        @include grid-container-align(
            $align-y: (
                md: top,
                lg: center,
                xl: bottom
            )
        )
    }
}
