// generate media queries for column
@mixin _col-media($cols, $grid: $default-grid) {
    $grid: _sort-breakpoints-in-grid($grid, min);
    $breakpoints: get-grid-value(breakpoints, $grid);

    $cols: _convert-to-media-map($cols, $grid);
    $cols-length: length($cols);

    $last-bp-col: null;
    $last-bp-key: null;

    @each $bp-key, $bp-width in $breakpoints {
        $bp-col: map-get($cols, $bp-key);

        @if ($bp-col != null) {
            @if ($last-bp-col != null) {
                @include media-breakpoint($last-bp-key, $bp-key, $grid) {
                    width: _col-width($last-bp-col, $grid);
                }
                $last-bp-key: $bp-key;
            }
            $last-bp-col: $bp-col;
        }

    }
    width: _col-width($last-bp-col, $grid);
}
