@mixin _col-props($cols, $grid) {
    @if (($cols == hidden) or ($cols == hide) or ($cols == 0)) {
        display: none;
    } @else {
        display: block;

        $driver: get-grid-value(driver, $grid);
        @if ($driver == flex) {
            max-width: _column-width($cols, $grid);
        }
        width: _column-width($cols, $grid);
    }
}

// generate media queries for column
@mixin grid-column-media($cols, $grid: $default-grid) {
    $cols: _convert-to-media-map($cols, $grid);

    @include _for-media-map($cols, $grid) {
        @include _col-props($_for-media-map-value, $grid); // $_for-media-map-value is a global variable, defined in _for-media-map mixin
    }
}
