@mixin media-breakpoint-only($bp-name, $grid: $default-grid) {
    $breakpoints: get-grid-value(breakpoints, $grid);

    $min-width: map-get($breakpoints, $bp-name);
    $max-width: nth(nth(_next-breakpoint($from ,$breakpoints), 1), 2);

    @if (($min-width == null) and ($max-width == null)) {
        @content;
    } @else if ($min-width == null) {
        @media screen and (max-width: $max-width - 1) {
            @content;
        }
    } @else if ($max-width == null) {
        @media screen and (min-width: $min-width) {
            @content;
        }
    } @else {
        @media screen and (min-width: $min-width) and (max-width: $max-width - 1) {
            @content;
        }
    }
}
