@mixin media-breakpoint($from, $to: null, $grid: $default-grid) {
    $breakpoints: get-grid-value(breakpoints, $grid);

    $min-width: map-get($breakpoints, $from);
    $max-width: null;

    @if ($to == null) {
        $max-width: nth(_next-breakpoint($from ,$breakpoints), 2) - 1;
    } @else {
        $max-width: map-get($breakpoints, $to) - 1;
    }

    @if ($min-width == null) {
        @media screen and (max-width: $max-width) {
            @content;
        }
    } @else if ($max-width == null) {
        @media screen and (min-width: $min-width) {
            @content;
        }
    } @else {
        @media screen and (min-width: $min-width) and (max-width: $max-width) {
            @content;
        }
    }
}
