@charset "UTF-8";

@import "grid-column-classes/grid-column-base-classes";
@import "grid-column-classes/grid-column-width-classes";
@import "grid-column-classes/grid-column-align-classes";
@import "grid-column-classes/grid-column-order-classes";
// @import "grid-column/grid-column-clearfix-classes";

@mixin grid-column-classes($options: $grid-classes-default-options, $grid: $default-grid) {
    $components: get-map-value('components', $options);

    @include grid-column-base-classes(
        $options: $options,
        $grid: $grid
    );

    @include grid-column-width-classes(
        $options: $options,
        $grid: $grid
    );

    $driver: get-grid-value('driver', $grid);

    @if ($driver == flex) {
        @if (index($components, 'column-alignment') != null) {
            @include grid-column-align-classes(
                $options: $options,
                $grid: $grid
            );
        }
        @if (index($components, 'column-order') != null) {
            @include grid-column-order-classes(
                $options: $options,
                $grid: $grid
            );
        }
    }
}