@mixin grid-push-classes($grid: $default-grid, $options: $grid-classes-default-options) {
    $default-options: $grid-classes-default-options;
    $default-names: get-map-value('names', $default-options);
    $prefix: get-map-value('prefix', $options, $default-options);
    $names: get-map-value('names', $options, $default-options);
    $components: get-map-value('components', $options);
    $push-name: get-map-value('push', $names, $default-names);
    $columns: get-grid-value('columns', $grid);

    @for $i from 1 through $columns {
        .#{$prefix}#{$push-name}-#{$i} {
            @include grid-push(
                $columns: $i,
                $grid: $grid
            );
        }
    }

    @if (index($components, 'push-media') != null) {
        $breakpoints: get-grid-value('breakpoints', $grid);
        @each $bp-name, $bp-value in $breakpoints {
            @if ($bp-name=='xs') {
                @include media-breakpoint-before(sm) {
                    @for $i from 1 through $columns {
                        .#{$prefix}#{$push-name}-#{$bp-name}-#{$i} {
                            @include grid-push(
                                $columns: $i,
                                $grid: $grid
                            );
                        }
                    }
                }
            } @else {
                @include media-breakpoint-from($bp-name) {
                    @for $i from 1 through $columns {
                        .#{$prefix}#{$push-name}-#{$bp-name}-#{$i} {
                            @include grid-push(
                                $columns: $i,
                                $grid: $grid
                            );
                        }
                    }
                }
            }
        }
    }
}