@charset "UTF-8";

@import "grid-container-classes/grid-container-base-classes";
@import "grid-container-classes/grid-container-align-classes";

@mixin grid-container-classes($options: $grid-classes-default-options, $grid: $default-grid) {
    $components: get-map-value('components', $options);

    @include grid-container-base-classes(
        $options: $options,
        $grid: $grid
    );

    $driver: get-grid-value(driver, $options);
    @if ($driver == 'flex') {
        @if (index($components, 'container-alignment') != null) {
            @include grid-container-align-classes(
                $options: $options,
                $grid: $grid
            );
        }
    }
}