@mixin grid-container-align-classes($grid: $default-grid, $options: $grid-classes-default-options) {
    $default-options: $grid-classes-default-options;
    $default-names: get-map-value('names', $default-options);
    $prefix: get-map-value('prefix', $options, $default-options);
    $names: get-map-value('names', $options, $default-options);
    $container-name: get-map-value('container', $names, $default-names);

    $h-align-name: get-map-value('horizontal-alignment', $names, $default-names);
    $h-alignments: ('left', 'center', 'right');
    @each $h-align in $h-alignments {
        .#{$prefix}#{$container-name}-#{$h-align-name}-#{$h-align} {
            @include grid-container-align(
                $align-x: $h-align,
                $grid: $grid
            );
        }
    }

    $v-align-name: get-map-value('vertical-alignment', $names, $default-names);
    $v-alignments: ('top', 'center', 'bottom');
    @each $v-align in $v-alignments {
        .#{$prefix}#{$container-name}-#{$v-align-name}-#{$v-align} {
            @include grid-container-align(
                $align-y: $v-align,
                $grid: $grid
            );
        }
    }

}

@mixin grid-container-base-classes($grid: $default-grid, $options: $grid-classes-default-options) {
    $default-options: $grid-classes-default-options;
    $default-names: get-map-value('names', $default-options);
    $prefix: get-map-value('prefix', $options, $default-options);
    $names: get-map-value('names', $options, $default-options);
    $container-name: get-map-value('container', $names, $default-names);
    
    .#{$prefix}#{$container-name} {
        @include grid-container-base($grid: $grid);
    }
}

@mixin grid-container-classes($grid: $default-grid, $options: $grid-classes-default-options) {
    $default-options: $grid-classes-default-options;
    $default-names: get-map-value('names', $default-options);
    $prefix: get-map-value('prefix', $options, $default-options);
    $names: get-map-value('names', $options, $default-options);
    $container-name: get-map-value('container', $names, $default-names);
    $components: get-map-value('components', $options);

    @include grid-container-base-classes(
        $grid: $grid,
        $options: $options
    );

    $driver: get-grid-value(driver, $options);
    @if ($driver == 'flex') {
        @if (index($components, 'container-alignment') != null) {
            @include grid-container-align-classes(
                $grid: $grid,
                $options: $options
            );
        }
    }
}