@mixin outer-container-classes($grid: $default-grid, $options: $grid-classes-default-options) {
    $default-options: $grid-classes-default-options;
    $default-names: get-map-value('names', $default-options);
    $prefix: get-map-value('prefix', $options, $default-options);
    $names: get-map-value('names', $options, $default-options);
    $outer-container-name: get-map-value('outer-container', $names, $default-names);

    .#{$prefix}#{$outer-container-name} {
        @include outer-container($grid: $grid);
    }
}
