include blocks/head

doctype html
html(lang="ru")
    block head
        head
            +head({
                "title": "Powerful and lightweight SASS grid 'Brigrid'",
                "author": "Salavat Salahutdinov",
                "description": "Powerful and lightweight SASS grid 'Brigrid'",
                "links": [
                    {
                        "href": "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700&amp;subset=cyrillic",
                        "rel": "stylesheet"
                    }
                ]
            })
    block body
        body
            include blocks/grid
            
