$_default-grid-settings: ( // don't change this map!
    driver: flex,
    columns: 12,
    gutter: 20px,
    align-x: left,
    align-y: top,
    reversed: false,
    collapse: false,
    breakpoints: (
        xs: 0, // Extra small screen
        sm: 576px, // Small screen
        md: 768px, // Medium screen
        lg: 992px, // Large screen
        xl: 1200px, // Extra large screen
        xx: 1600px // Extra extra large screen
    ),
    _breakpoints-sorting: null,
    container-widths: (
        sm: 576px, // Small screen
        md: 768px, // Medium screen
        lg: 960px, // Large screen
        xl: 1170px, // Extra large screen
        xx: 1400px // Extra extra large screen
    )
);

$default-grid: $_default-grid-settings !default;
